{% extends "layouts/base.html" %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <h1>Вход</h1>
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Вход</button>
        </form>
        <p>Хотите зарегестрироваться? <a href="{% url 'myapp:signup' %}">Регистрация</a></p>
    </div>
</div>
{% endblock %}
