{% extends "layouts/base.html" %}
{% load humanize %}

{% block title %}Детали книги{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-2">
        {% if book.image %}
        <img src="{{ book.image.url }}" class="img-fluid mb-4" alt="">
        {% endif %}
    </div>
    <div class="col-lg-10">
        <h1>{{ book.name }}</h1>
        <div><span style="color: gray;">Категория</span> : {{ book.category }}</div>
        <div><span style="color: gray;">Цена</span> : {{ book.price|floatformat:0|intcomma }} Сум</div>
        <div><span style="color: gray;">Описания</span> : {{ book.description }}</div>
        <a href="{% url 'book:cart_add' slug=book.slug %}" class="btn btn-success mt-5">Добавить в корзинку</a>
    </div>
</div>

<div class="card mb-5 mt-5">
    <div class="card-header">
        <div class="card-title">Коментарии {{ book.get_comment_count }}</div>
    </div>
    <div class="card-body">
        {% for c in book.book_comment.all %}
        <blockquote class="blockquote">
            <p class="mb-0">{{ c.comment }}</p>
            <footer class="small">Рейтинг: {{ c.rating }}</footer>
        </blockquote>
        {% endfor %}
    </div>
</div>

<a href="{% url 'book:index' %}" class="btn btn-primary mt-4">Вернуться к предыдущей странице</a>
{% endblock %}