{% extends "layouts/base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Добро пожаловать в проект книжный магазин</h1>
    <br></br>
    <b>
      <p class="display-5">Индивидуальная работа студентов группы 943-20</p>
    </b>
    <li><span>Аллаяров Шохзод</span></li>
    <li><span>Дусенбаев Темур</span></li>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{% url 'book:index' %}" role="button">Перейти в магазин</a>
    </p>
  </div>
{% endblock %}